/*note: globali*/
body::-webkit-scrollbar {
    display: none;
}

.mainGradient {
    background: rgb(86, 122, 232);
    background: linear-gradient(
        135deg,
        rgba(86, 122, 232, 1) 0%,
        rgba(114, 176, 243, 1) 100%
    );
    color: #fff;
}

.secondGradient {
    background: rgb(106, 141, 235);
    background: linear-gradient(
        135deg,
        rgba(106, 141, 235, 1) 0%,
        rgba(118, 164, 239, 1) 100%
    );
    color: #fff;
}

.titles {
    color: #01175f;
    font-weight: 900;
    margin: 1em 0;
}

.tempFont {
    font-weight: 900;
    font-size: 2.5em;
}

.miniContainer {
    min-height: 12vh;
    width: 100%;
    margin: 0 auto 3em auto;
}

.shadowCorners {
    border-radius: 25px !important;
    box-shadow: 5px 10px 30px #888888;
}

/* .shadowCornersSecondary {
    border-radius: 25px !important;
    box-shadow: 5px 5px 20px #888888;
} */

/*note: sidebarNavbar*/
.stickyNavbar {
    position: -webkit-fixed !important ;
    position: fixed !important ;
    bottom: 1vh !important ;
    left: 5%;
    right: 5%;
    z-index: 10 !important ;
}

.miniNavbar {
    min-height: 4em;
    background-color: #fff;
}

.activeLinkNavbar {
    color: #01175f !important;
    padding-bottom: 90%;
    border-bottom: 2px solid #01175f;
}

.inactiveLinkNavbar {
    color: #888888 !important;
}

/*note: contenitore città preferite*/
.favouritesCitiesContainer {
    max-height: 40vh;
    overflow: auto;
}

.miniCard {
    cursor: pointer;
    min-height: 10vh;
    margin-top: 1.5em;
}

.miniCard > img {
    max-width: 20px;
}

.favouritesCitiesContainer::-webkit-scrollbar {
    display: none;
}
/* note: contenitore città cercate*/
.recentCitiesContainer {
    min-height: 80vh;
    overflow: auto;
}

.recentCitiesContainer::-webkit-scrollbar {
    display: none;
}

/*note: card del meteo principale*/
.mainCardContainer {
    background-image: url("http://architizer-prod.imgix.net/mediadata/projects/072013/b77aa4f3.jpg?q=60&auto=format,compress&w=1680&cs=strip");
    height: 45vh;
}

.mainCard {
    background-color: transparent !important;
    color: #01175f;
    border-color: transparent !important;
    padding: 20px 160px 120px 80px;
}

.temperautureSection {
    text-align: center;
    padding: 1.5em 0.5em;
    position: absolute;
    top: 5em;
    left: -2em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/*note: contenitore today*/
.todayContainer {
    text-align: center;
    justify-content: space-evenly;
    max-height: 36vh;
    overflow: auto;
    padding: 3em;
    margin-bottom: 3em;
}

.todayContainer::-webkit-scrollbar {
    display: none;
}

/*note: contenitore thisWeekMonth*/

.thisWeekMonthContainer {
    margin-top: 2em;
}

.thisWeekMonthContainer > button {
    /*todo: sistema i titoli della tab*/
    color: red;
}

.weekElement {
    margin: 0px 20px;
    padding: 2em;
    text-align: center;
}

.weatherCard {
    height: 100%;
}

/*note: form search*/
.searchForm {
    min-height: 12vh;
}

.searchBtn {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 25px !important;
    border: transparent !important;
}

/*note: loader*/
@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate2 {
    0% {
        transform: rotate(0deg);
        border-top-color: rgba(0, 0, 0, 0.5);
    }
    50% {
        transform: rotate(180deg);
        border-top-color: rgba(0, 0, 255, 0.5);
    }
    100% {
        transform: rotate(360deg);
        border-top-color: rgba(0, 0, 0, 0.5);
    }
}
@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
        border-top-color: rgba(0, 0, 0, 0.5);
    }
    50% {
        transform: rotate(180deg);
        border-top-color: rgba(0, 0, 255, 0.5);
    }
    100% {
        transform: rotate(360deg);
        border-top-color: rgba(0, 0, 0, 0.5);
    }
}

.loader {
    position: relative;
    margin: 75px auto;
    width: 150px;
    height: 150px;
    display: block;
    overflow: hidden;
}
.loader div {
    height: 100%;
}
.loader3,
.loader3 div {
    border-radius: 50%;
    padding: 8px;
    border: 2px solid transparent;
    -webkit-animation: rotate linear 3.5s infinite;
    animation: rotate linear 3.5s infinite;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-left-color: rgba(0, 0, 255, 0.5);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
    animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
div:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.loader,
.loader * {
    will-change: transform;
}

@media screen and (max-width: 768px) {
    /*sotto i 768px*/
    /*note: elementi globali*/

    /*note: card del meteo principale*/
    .mainCardContainer {
        background-image: none;
        height: auto;
    }

    .mainCard {
        background-color: transparent !important;
        color: #ffffff;
        padding: 20px;
        text-align: center;
    }

    .themedTitles {
        color: #ffffff;
        font-weight: 900 !important;
        margin: 1em 0;
    }

    .temperautureSection {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0;
        position: initial;
        font-size: 2em;
    }

    /*note: contenitore città preferite*/
    .favouritesCitiesContainer {
        max-height: 70vh;
    }

    .miniCard {
        cursor: pointer;
        min-height: 10vh;
        margin-top: 1em;
    }

    .miniCard > img {
        max-width: 20px;
    }

    /*note: contenitore today*/
    .todayContainer {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        overflow-x: auto;
        padding: 0;
        margin-bottom: 2em;
    }

    .todayContainer::-webkit-scrollbar {
        display: none;
    }

    /*note: contenitore thisWeekMonth*/

    .thisWeekMonthContainer {
        margin-top: 2em;
    }

    .thisWeekMonthContainer > button {
        /*todo: sistema i titoli della tab*/
        color: red;
    }

    .weekElement {
        margin: 0px 20px;
        padding: 2em;
        text-align: center;
    }

    .weatherCard {
        height: 100%;
    }

    .responsivePadding {
        padding: 20px;
    }
}
