/*note: globali*/
.mainGradient {
    background: rgb(89, 127, 233);
    background: linear-gradient(
        135deg,
        rgba(89, 127, 233, 1) 0%,
        rgba(255, 255, 255, 1) 300%
    );
    color: #fff;
}

.secondGradient {
    background: rgb(122, 150, 224);
    background: linear-gradient(
        135deg,
        rgba(122, 150, 224, 1) 00%,
        rgba(255, 255, 255, 1) 300%
    );
    color: #fff;
}

.titles {
    font-weight: 900 !important;
    color: #01175f;
    margin: 1em 0;
}

.tempFont {
    font-weight: 900;
    font-size: 2.5em;
}

.miniContainer {
    min-height: 12vh;
    width: 100%;
    margin: 0 auto 3em auto;
}

.shadowCorners {
    border-radius: 25px !important;
    box-shadow: 20px 20px 30px #888888;
}

.shadowCornersSecondary {
    border-radius: 25px !important;
    box-shadow: 5px 5px 20px #888888;
}

/*note: sidebarNavbar*/
.miniNavbar {
    min-height: 4em;
}

.activeLinkNavbar {
    color: #01175f !important;
    padding-bottom: 90%;
    border-bottom: 2px solid #01175f;
}

.inactiveLinkNavbar {
    color: #888888 !important;
}

/*note: contenitore città*/
.recentCitiesContainer {
    max-height: 39vh;
    overflow: auto;
}

.miniCard {
    cursor: pointer;
    min-height: 10vh;
    margin-top: 2em;
}

.miniCard > img {
    max-width: 20px;
}

.recentCitiesContainer::-webkit-scrollbar {
    display: none;
}

/*note: contenitore today*/
.todayContainer {
    text-align: center;
    justify-content: space-evenly;
    max-height: 36vh;
    overflow: auto;
    padding: 3em;
    margin-bottom: 3em;
}

.todayContainer::-webkit-scrollbar {
    display: none;
}

/*note: contenitore thisWeekMonth*/

.thisWeekMonthContainer {
    margin-top: 2em;
}

.thisWeekMonthContainer > button {
    /*todo: sistema i titoli della tab*/
    color: red;
}

.weekElement {
    margin: 0px 20px;
    padding: 2em;
    text-align: center;
}

.weatherCard {
    height: 100%;
}

/*note: card del meteo principale*/
.mainCardContainer {
    background-image: url("http://architizer-prod.imgix.net/mediadata/projects/072013/b77aa4f3.jpg?q=60&auto=format,compress&w=1680&cs=strip");
    height: 45vh;
}

.mainCard {
    background-color: transparent !important; /*poi metti l'immagine*/
    color: #01175f;
    border-color: transparent !important;
    padding: 20px 160px 120px 80px;
}

.temperautureSection {
    text-align: center;
    padding: 1.5em 0.5em;
    position: absolute;
    top: 5em;
    left: -2em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/*note: form search*/
.searchForm {
    min-height: 12vh;
}

.searchBtn {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 25px !important;
    border: transparent !important;
}
