/*note: globali*/
.mainGradient {
    background: rgb(89, 127, 233);
    background: linear-gradient(
        135deg,
        rgba(89, 127, 233, 1) 0%,
        rgba(255, 255, 255, 1) 180%
    );
}

.tempFont {
    font-weight: 900;
    font-size: 2em;
    padding: 1em;
}

.miniContainer {
    height: 100px;
    position: relative;
    width: 100%;
}

.shadowCorners {
    border-radius: 25px !important;
    box-shadow: 20px 20px 30px #888888;
}

/*note: contenitore città*/
.recentCitiesContainer {
    max-height: 40vh;
    overflow: auto;
    margin-bottom: 1rem;
}
/*note: card del meteo principale*/
.mainCardContainer {
    background-image: url("http://architizer-prod.imgix.net/mediadata/projects/072013/b77aa4f3.jpg?q=60&auto=format,compress&w=1680&cs=strip");
    height: 400px;
}

.mainCard {
    background-color: transparent !important; /*poi metti l'immagine*/
    color: #01175f;
    border-color: transparent !important;
    padding: 20px 160px 120px 80px;
}

.titles {
    font-weight: bold !important;
    color: #01175f;
}

.temperautureSection {
    color: white;
    text-align: center;
    position: absolute;
    top: 2em;
    left: -3em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.searchBtn {
    height: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 25px !important;
    border: transparent !important;
}
