body {
    background-color: #f1f1f1 !important;
    padding: 30px;
    min-height: 100vh !important;
    font-family: "Lato", sans-serif !important;
}

body::-webkit-scrollbar {
    display: none;
}

.app {
    max-width: 1920px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }
}

code {
    font-family: "Lato", sans-serif !important;
}
