body {
    background-color: #f1f1f1 !important;
    font-family: "Lato", sans-serif !important;
}

body::-webkit-scrollbar {
    display: none;
}

.app {
    padding: 1.5rem;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0 !important;
    }
    .app {
        padding: 0;
    }
}
@media screen and (min-width: 1920px) {
    .app {
        max-width: 1920px;
        margin: 0 auto;
    }
}

code {
    font-family: "Lato", sans-serif !important;
}
